force-app/main/default/flows/Capture_Customer_Notified_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stamp_Customer_Notified_Date</name>
        <label>Stamp Customer Notified Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRenewalOpportunity.Customer_Notified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Renewal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Not_Yet_Set</name>
        <label>Date Not Yet Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Already Set</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRenewalOpportunity.Customer_Notified_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Customer_Notified_Date</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <description>Subflow (called by Renewal_Record_Triggered_Orchestration): stamps Customer Notified Date with today&apos;s date the first time a Renewal Opportunity reaches the &quot;Customer Notified&quot; stage (only when the date is still blank).</description>
    <environments>Default</environments>
    <interviewLabel>Capture Customer Notified Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Customer Notified Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Renewal</name>
        <label>Update the Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputReference>varRenewalOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Not_Yet_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to stamp Customer Notified Date on the Renewal Opportunity.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varRenewalOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Capture_Customer_Notified_Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Update_the_Renewal</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varRenewalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
