force-app/main/default/flows/Contact_Recalculate_Family.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Affected_Primaries</name>
        <label>Build Affected Primaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAffectedPrimaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Primaryholder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAffectedPrimaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxPriorPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Has_Member</name>
        <label>Reset Has Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Member_True</name>
        <label>Set Has Member True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Family</name>
        <label>Set Primary Family</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Each_Primary.Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHasMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimariesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Primary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Members_Primary</name>
        <label>Is This Member&apos;s Primary?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Each_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Member.Primaryholder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Each_Primary.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Member_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is custom label &quot;TRIGGER_ACTIVATION&quot; &quot;ON&quot; or &quot;OFF&quot;.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Affected_Primaries</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <description>2026-07-22: Maintains Contact.Family__c. When a Contact&apos;s Primaryholder (household link) is set/changed/cleared, recalculates Family for the current AND prior primaryholder = TRUE if that primary still has at least one household member (a Contact whose Primaryholder = it). Synchronous after-save: Get Records are outside loops so Salesforce bulkifies them (bulk-safe); PRIORVALUE needs the same transaction so the recalc runs here rather than in a scheduled/async path. Deliberate deviation from the single-after-save-orchestrator rule: the Contact after-save entry point is an Orchestrator-type flow that cannot be safely extended without a sandbox, so this runs as a separate after-save flow (independent field, order-agnostic vs the Subagent sync). Gated by TRIGGER_ACTIVATION.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxPriorPrimary</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Primaryholder__c})</expression>
    </formulas>
    <interviewLabel>Contact Recalculate Family {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | Recalculate Family</label>
    <loops>
        <name>Each_Member</name>
        <label>Each Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Members_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Primary_Family</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Primary</name>
        <label>Each Primary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Primaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Has_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Primaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Members</name>
        <label>Get Household Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primaryholder__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varAffectedPrimaryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primaryholder__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primaries</name>
        <label>Get Primary Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Primary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varAffectedPrimaryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Family__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primaries</name>
        <label>Update Primaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputReference>varPrimariesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Primaryholder__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to recalculate Contact.Family__c from household members.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Contact_Recalculate_Family</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAffectedPrimaryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHasMember</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimariesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
