force-app/main/default/flows/Contact_Record_Triggered_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Is custom label "TRIGGER_ACTIVATION" "ON" or "OFF".</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>Is_TRIGGER_ACTIVATED_ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_Subagent_Change</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only sync related Insurance policies when the Contact's Subagent (Agent__c) actually changed.</description>
        <name>Did_Subagent_Change</name>
        <label>Did Subagent Change?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Did_Subagent_Change_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxSubagentChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Subagent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2026-07-21: After-save orchestration for Contact — on Subagent (Agent__c) change, delegates to the Sync_Contact_Subagent_to_Insurance subflow (background step) to mirror the Subagent onto the Contact's Health/Medicare policies. Gated by TRIGGER_ACTIVATION.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxSubagentChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Agent__c})</expression>
    </formulas>
    <interviewLabel>Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | After Save Record-Triggered Orchestration</label>
    <orchestratedStages>
        <name>Sync_Subagent</name>
        <label>Sync Subagent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>fxSubagentChanged</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Sync_Subagent_to_Insurance</name>
            <actionName>Sync_Contact_Subagent_to_Insurance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>varContactId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varSubagentId</name>
                <value>
                    <elementReference>$Record.Agent__c</elementReference>
                </value>
            </inputParameters>
            <label>Sync Subagent to Insurance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
