force-app/main/default/flows/Daily_Inactivate_Expired_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Expired</name>
        <label>Is Expired?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Expired Yet</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insurance_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactivate_Expired_Insurance</targetReference>
            </connector>
            <label>Yes — Expired</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is custom label &quot;TRIGGER_ACTIVATION&quot; &quot;ON&quot; or &quot;OFF&quot;.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Expired</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <description>Daily scheduled flow that marks Insurance__c records as Inactive when their Insurance_End_Date__c has passed.</description>
    <environments>Default</environments>
    <interviewLabel>Daily — Inactivate Expired Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily — Inactivate Expired Insurance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Inactivate_Expired_Insurance</name>
        <label>Inactivate Expired Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Insurance__c</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-05-16</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
