force-app/main/default/flows/Insurance_Record_Triggered_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Only recalculate related Contact insurance fields when the policy Status actually changed.</description>
        <name>Did_Status_Change</name>
        <label>Did Status Change?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxStatusChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is custom label &quot;TRIGGER_ACTIVATION&quot; &quot;ON&quot; or &quot;OFF&quot;, AND the per-object Automation Setting active.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_Status_Change</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group_Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactivation</targetReference>
            </connector>
            <label>Group Health</label>
        </rules>
    </decisions>
    <description>2026-07-18: Added Recalculate_Contacts stage to recompute related Contact active-insurance fields on policy Status change (all record types); existing Group Health inactivation path unchanged.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxStatusChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status__c})</expression>
    </formulas>
    <interviewLabel>Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insurance Record-Triggered Orchestration</label>
    <orchestratedStages>
        <name>Inactivation</name>
        <label>Inactivation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Inactive</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Inactivate_All_Related_ContactInsuranceAssociation</name>
            <actionName>Inactivate_All_Related_ContactInsuranceAssociation_Records</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>varInsuranceId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Inactivate All Related ContactInsuranceAssociation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Recalculate_Contacts</name>
        <label>Recalculate Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>fxStatusChanged</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Recalculate_Related_Contacts</name>
            <actionName>Recalculate_Related_Contacts_Active_Insurance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>varInsuranceId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Recalculate Related Contacts</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <object>Insurance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
