force-app/main/default/flows/Insurance_Before_Save_Defaults.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Name</name>
        <label>Set Name (engrave status)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNamePlusStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Newly_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Cancellation_Date</name>
        <label>Capture Cancellation Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Global TRIGGER_ACTIVATION label AND the per-object Automation Setting must both be on.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Insurance_Automation_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <name>Newly_Cancelled</name>
        <label>Newly Cancelled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Cancellation_Date</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>Before-save defaults for Insurance: engraves Status into Name and stamps Cancellation Date on first Cancelled (zero DML). Commission Rate is intentionally NOT set here — it is edited per-Insurance manually. Gated by TRIGGER_ACTIVATION label + Automation_Setting__mdt.Insurance_Orchestration.</description>
    <environments>Default</environments>
    <formulas>
        <description>Insurance Name with its Status engraved in parentheses; strips any existing parenthetical first. Blank status returns just the base name.</description>
        <name>fxNamePlusStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK(TEXT({!$Record.Status__c})),
    TRIM(LEFT({!$Record.Name}, FIND(&quot;(&quot;, {!$Record.Name} &amp; &quot;(&quot;) - 1)),
    TRIM(LEFT({!$Record.Name}, FIND(&quot;(&quot;, {!$Record.Name} &amp; &quot;(&quot;) - 1)) &amp;
    &quot; (&quot; &amp; TEXT({!$Record.Status__c}) &amp; &quot;)&quot;
)</expression>
    </formulas>
    <interviewLabel>Insurance Before Save Defaults {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insurance Before Save Defaults</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Insurance_Automation_Setting</name>
        <label>Get Insurance Automation Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance_Orchestration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Setting__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Insurance_Automation_Setting</targetReference>
        </connector>
        <object>Insurance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
