force-app/main/default/flows/Insurance_Set_Commission_Rate_from_Subagent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Commission_Rate</name>
        <label>Set Commission Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewInsuranceRecord.Commission_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subagent.Commission_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Insurance_Commission_Rate</targetReference>
        </connector>
    </assignments>
    <description>When an Insurance policy's Subagent is set or changed, copy that agent's Commission Rate onto the policy's Commission Rate.</description>
    <decisions>
        <name>Subagent_Changed</name>
        <label>Subagent Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewInsuranceRecord.Subagent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewInsuranceRecord.Subagent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOldInsuranceRecord.Subagent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subagent</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Insurance Set Commission Rate from Subagent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insurance Set Commission Rate from Subagent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subagent</name>
        <label>Get Subagent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Commission_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewInsuranceRecord.Subagent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Insurance_Commission_Rate</name>
        <label>Update Insurance Commission Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varNewInsuranceRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subagent_Changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewInsuranceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance__c</objectType>
    </variables>
    <variables>
        <name>varOldInsuranceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance__c</objectType>
    </variables>
</Flow>
