force-app/main/default/flows/Lead_to_Contact_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <actionCalls>
        <name>Create_Note_on_Contact</name>
        <label>Create Note on Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContentNoteCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generating_ContentDocumentLinks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generating_ContentDocumentLinks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_the_Lead.Important_Note__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>Create_a_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Important Note (from Lead)</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ContentNoteCreator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <assignments>
        <name>Add_the_ContentDocumentLink_to_Collection</name>
        <label>Add the ContentDocumentLink to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varClonedContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varClonedContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generating_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_the_Lead</name>
        <label>Assign Values to the Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Lead.ConvertedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Lead.IsConverted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Lead.ConvertedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_a_ContentDocumentLink</name>
        <label>Clone a ContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varClonedContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generating_ContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClonedContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClonedContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generating_ContentDocumentLinks.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClonedContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generating_ContentDocumentLinks.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_ContentDocumentLink_to_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_valid_Company_Information</name>
        <label>Has valid Company Information?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Attachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Lead.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Lead.Company</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Lead.Company</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLenOfCompany</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsPlaceholderCompany</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Business_Account_Record_Types</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Added conversion of Company. Placeholder company names ("[Not Provided]"/"Not Provided") are treated as invalid so individual leads convert to an account-less Contact instead of creating a junk Account.</description>
    <environments>Default</environments>
    <formulas>
        <name>varIsPlaceholderCompany</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  UPPER(TRIM({!Get_the_Lead.Company})) = &quot;[NOT PROVIDED]&quot;,
  UPPER(TRIM({!Get_the_Lead.Company})) = &quot;NOT PROVIDED&quot;)</expression>
    </formulas>
    <formulas>
        <name>varLenOfCompany</name>
        <dataType>Number</dataType>
        <expression>LEN({!Get_the_Lead.Company})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lead to Contact Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead to Contact Conversion</label>
    <loops>
        <name>Generating_ContentDocumentLinks</name>
        <label>Generating ContentDocumentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_a_ContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_the_Cloned_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Contact</name>
        <label>Create a Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Note_on_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_Contact_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_an_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Get_the_Lead.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_the_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_the_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenderIdentity</field>
            <value>
                <elementReference>Get_the_Lead.Gender_Identity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Korean_Name__c</field>
            <value>
                <elementReference>Get_the_Lead.Korean_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_the_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Get_the_Lead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_the_Lead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_the_Lead.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Get_the_Lead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Get_the_Lead.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_the_Lead.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_the_Lead.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>Get_the_Lead.SSN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_an_Account</name>
        <label>Create an Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Attachments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Duplicate_Contact_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Get_the_Lead.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_the_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>Get_the_Lead.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Client_Business_Account_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_the_Lead.Industry</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_the_Cloned_Attachments</name>
        <label>Insert the Cloned Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_to_the_Lead</targetReference>
        </connector>
        <inputReference>varClonedContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Business_Account_Record_Types</name>
        <label>Get Client Business Account Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_an_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Attachments</name>
        <label>Get Related Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Lead</name>
        <label>Get the Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_valid_Company_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Lead</name>
        <label>Update the Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conversion_Complete</targetReference>
        </connector>
        <inputReference>Get_the_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Conversion_Complete</name>
        <label>Conversion Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Conversion_Completion_Message</name>
            <fieldText>&lt;p&gt;✅ &lt;strong style=&quot;color: rgb(0, 221, 18); font-size: 20px;&quot;&gt;Lead converted successfully!&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 221, 18);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;A new Contact record has been created: &lt;strong&gt;{!Get_the_Lead.FirstName} {!Get_the_Lead.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Contact_Message</name>
        <label>Duplicate Detected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicates_Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ Duplicate Contact Detected&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We could not create a new Contact because a matching record already exists in Salesforce.&lt;/p&gt;&lt;p&gt;To avoid duplicates, please review the existing Contact before proceeding.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe this is incorrect or need assistance updating the record, please contact your Salesforce administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClonedContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varClonedContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
