force-app/main/default/flows/Quick_New_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Carry_Defaults</name>
        <label>Carry Original Defaults</label>
        <locationX>400</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varPremiumDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Insurance.Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPolicyNumberDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Insurance.Policy_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_SyncNo</name>
        <choiceText>No — I&apos;ll Start Sync manually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SyncYes</name>
        <choiceText>Yes — start syncing this quote now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Auto_Sync_Decision</name>
        <label>Auto Sync?</label>
        <locationX>176</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Sync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutoSync</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Quote</targetReference>
            </connector>
            <label>Sync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Provider</name>
        <label>Same Provider?</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>Quote_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provider Changed</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Original_Insurance.Insurance_Provider__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carry_Defaults</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <description>Quick Action on a Renewal Opportunity. Two-screen: (1) pick the Service Provider; (2) edit quote details. Premium and Policy Number default from the Original Insurance only when the provider is unchanged (blank when the provider is switched) — set via a decision + variables so no conditional field is read by a formula.</description>
    <dynamicChoiceSets>
        <name>Choice_PaymentFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Frequency__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Providers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_RecordType.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_QuoteSubtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subtype__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_QuoteType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxQuoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Quote - &quot; &amp; {!Get_Selected_Provider.Name} &amp; &quot; - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>fxStartDateDefault</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Original_Insurance.Insurance_End_Date__c}), TODAY(), {!Get_Original_Insurance.Insurance_End_Date__c})</expression>
    </formulas>
    <interviewLabel>Quick New Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick New Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Auto_Sync_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Amount__c</field>
            <value>
                <elementReference>Coverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deductible__c</field>
            <value>
                <elementReference>Deductible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider__c</field>
            <value>
                <elementReference>ServiceProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>PaymentFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>PolicyNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Premium__c</field>
            <value>
                <elementReference>RenewalPremium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Term_months__c</field>
            <value>
                <elementReference>TermMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>QuoteSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>QuoteType</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Original_Insurance__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Insurance</name>
        <label>Get Original Insurance</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Original_Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Insurance_Provider__c</queriedFields>
        <queriedFields>Premium__c</queriedFields>
        <queriedFields>Insurance_Term_months__c</queriedFields>
        <queriedFields>Insurance_End_Date__c</queriedFields>
        <queriedFields>Payment_Frequency__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <queriedFields>Business_Personal_Property__c</queriedFields>
        <queriedFields>Deductible__c</queriedFields>
        <queriedFields>Policy_Number__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_RecordType</name>
        <label>Get Provider Record Type</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance_Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Provider</name>
        <label>Get Selected Provider</label>
        <locationX>176</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceProvider</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Accept_Quote</name>
        <label>Set Quote Accepted</label>
        <locationX>400</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Done_Synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sync_Quote</name>
        <label>Sync Quote</label>
        <locationX>400</locationX>
        <locationY>1150</locationY>
        <connector>
            <targetReference>Accept_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>50</locationX>
        <locationY>1150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneMessage</name>
            <fieldText>&lt;p&gt;✅ &lt;b&gt;Quote created:&lt;/b&gt; &lt;a href=&quot;/{!Create_Quote}&quot;&gt;{!fxQuoteName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next: open the Quote (link above), click &lt;b&gt;Start Sync&lt;/b&gt;, then move this Renewal to &lt;b&gt;Closed Won&lt;/b&gt; to create the new policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_Synced</name>
        <label>Done</label>
        <locationX>400</locationX>
        <locationY>1350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneSyncedMessage</name>
            <fieldText>&lt;p&gt;✅ &lt;b&gt;Quote created &amp; syncing:&lt;/b&gt; &lt;a href=&quot;/{!Create_Quote}&quot;&gt;{!fxQuoteName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Now just move this Renewal to &lt;b&gt;Closed Won&lt;/b&gt; to create the new policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Provider</name>
        <label>Choose Provider</label>
        <locationX>176</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Same_Provider</targetReference>
        </connector>
        <fields>
            <name>ProviderHelp</name>
            <fieldText>&lt;p&gt;Pick the carrier for this renewal quote, then click &lt;b&gt;Next&lt;/b&gt;. If you keep the original carrier, the Premium and Policy Number will pre-fill; if you switch carriers, they start blank.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ServiceProvider</name>
            <choiceReferences>Choice_Providers</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Insurance_Provider__c</elementReference>
            </defaultValue>
            <fieldText>Service Provider</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Details</name>
        <label>Quote Details</label>
        <locationX>176</locationX>
        <locationY>750</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Provider</targetReference>
        </connector>
        <fields>
            <name>Section_Terms</name>
            <fieldText>Quote Terms</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Terms_C1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RenewalPremium</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>varPremiumDefault</elementReference>
                    </defaultValue>
                    <fieldText>Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Terms_C2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TermMonths</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Insurance_Term_months__c</elementReference>
                    </defaultValue>
                    <fieldText>Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Policy</name>
            <fieldText>Policy Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Policy_C1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PolicyNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varPolicyNumberDefault</elementReference>
                    </defaultValue>
                    <fieldText>Policy Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Policy_C2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuoteType</name>
                    <choiceReferences>Choice_QuoteType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QuoteSubtype</name>
                    <choiceReferences>Choice_QuoteSubtype</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Subtype__c</elementReference>
                    </defaultValue>
                    <fieldText>Subtype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fxStartDateDefault</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Payment</name>
            <fieldText>Payment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Payment_C1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentFrequency</name>
                    <choiceReferences>Choice_PaymentFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Payment_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Payment_C2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentMethod</name>
                    <choiceReferences>Choice_PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Payment_Method__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Coverage</name>
            <fieldText>Coverage</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Coverage_C1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Coverage</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Business_Personal_Property__c</elementReference>
                    </defaultValue>
                    <fieldText>Coverage Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Coverage_C2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deductible</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Insurance.Deductible__c</elementReference>
                    </defaultValue>
                    <fieldText>Deductible</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AutoSync</name>
            <choiceReferences>Choice_SyncYes</choiceReferences>
            <choiceReferences>Choice_SyncNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Yes</stringValue>
            </defaultValue>
            <fieldText>Start Sync this quote now? (so the Renewal is ready to mark Closed Won)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPolicyNumberDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPremiumDefault</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
