force-app/main/default/flows/Recalculate_Related_Contacts_Active_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Accumulate</name>
        <label>Accumulate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHoldingHealth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxHealthAccumulate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Active_Junction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Contact_Id</name>
        <label>Collect Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAffectedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Policy_Junction.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Policy_Junction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Accumulators</name>
        <label>Reset Accumulators</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHoldingHealth</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Active_Junction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Fields</name>
        <label>Set Contact Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Each_Contact.Active_Insurance_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Contact.Has_Active_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxHasActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Contact.Holding_Active_Health_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHoldingHealth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Contact.Active_Insurance_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_This_Contacts_Active_Junction</name>
        <label>Is This Contact&apos;s Active Junction?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Each_Active_Junction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Active_Junction.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Each_Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Active_Junction.Insurance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accumulate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2026-07-18: Recalculate Contact active-insurance fields (Has Active, Count, Summary, Holding Health) for all Contacts linked to a given Insurance. Called by Insurance_Record_Triggered_Orchestration on policy Status change. Active = ContactInsuranceAssociation whose linked Insurance Status = Active (evaluated in the decision, not a Get filter, because Insurance_Status__c is a cross-object formula). Health = Insurance Record Type Group Health or Health.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxHasActive</name>
        <dataType>Boolean</dataType>
        <expression>{!varCount} &gt; 0</expression>
    </formulas>
    <formulas>
        <name>fxHealthAccumulate</name>
        <dataType>Boolean</dataType>
        <expression>OR({!varHoldingHealth}, {!Each_Active_Junction.Insurance_Record_Type__c} = &quot;Group Health&quot;, {!Each_Active_Junction.Insurance_Record_Type__c} = &quot;Health&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxLine</name>
        <dataType>String</dataType>
        <expression>{!Each_Active_Junction.Insurance_Policy_Name__c} &amp; &quot; (&quot; &amp; {!Each_Active_Junction.Insurance_Record_Type__c} &amp; &quot;); &quot;</expression>
    </formulas>
    <interviewLabel>Recalculate Related Contacts Active Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalculate Related Contacts Active Insurance</label>
    <loops>
        <name>Each_Active_Junction</name>
        <label>Each Active Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contact_Junctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_Contacts_Active_Junction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contact_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Contact</name>
        <label>Each Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Affected_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Accumulators</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Policy_Junction</name>
        <label>Each Policy Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Policy_Junctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Junctions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affected_Contacts</name>
        <label>Get Affected Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varAffectedContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Has_Active_Insurance__c</queriedFields>
        <queriedFields>Active_Insurance_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Junctions</name>
        <label>Get Contact Junctions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affected_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varAffectedContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactInsuranceAssociation__c</object>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Insurance_Status__c</queriedFields>
        <queriedFields>Insurance_Record_Type__c</queriedFields>
        <queriedFields>Insurance_Policy_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Junctions</name>
        <label>Get Policy Junctions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Policy_Junction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInsuranceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactInsuranceAssociation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputReference>varContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Policy_Junctions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to recalculate Contact active-insurance fields.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varInsuranceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Recalculate_Related_Contacts_Active_Insurance</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAffectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHoldingHealth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInsuranceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
