force-app/main/default/flows/Renewal_Closed_Won_Create_New_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Not_Yet_Created</name>
        <label>Not Yet Created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Already Created</defaultConnectorLabel>
        <rules>
            <name>Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRenewalOpportunity.New_Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Synced_Quote</targetReference>
            </connector>
            <label>Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Synced_Quote</name>
        <label>Has Synced Quote?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Quote — Skip</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Insurance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow (called by Renewal_Record_Triggered_Orchestration): given a Renewal Opportunity, creates a new Insurance__c from the synced Quote and links it back. Skips automatically if there is no synced Quote.</description>
    <environments>Default</environments>
    <interviewLabel>Renewal Closed Won — Create New Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Closed Won — Create New Insurance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Insurance</name>
        <label>Create New Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Renewal_with_New_Insurance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Personal_Property__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Coverage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deductible__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Deductible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Insurance_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Start_Date__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Term_months__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Policy_Holder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Original_Insurance.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>varRenewalOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subagent__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Subagent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Insurance</name>
        <label>Get Original Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalOpportunity.Original_Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Synced_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_with_New_Insurance</name>
        <label>Update Renewal with New Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Insurance__c</field>
            <value>
                <elementReference>Create_New_Insurance.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to create the new Insurance / link it back on Renewal Closed Won.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varRenewalOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Renewal_Closed_Won_Create_New_Insurance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Create_New_Insurance / Update_Renewal_with_New_Insurance</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Not_Yet_Created</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRenewalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
