force-app/main/default/flows/Renew_Same_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Quick Action on a Renewal Opportunity: pre-fills a renewal Quote from the Original Insurance (same provider) and lets the user edit the changed values (premium, term, start date, payment frequency/method, coverage, deductible), then creates the Quote. Replaces the quickCreateQuote LWC + QuoteCreateController Apex.</description>
    <dynamicChoiceSets>
        <name>Choice_PaymentFrequency</name>
        <dataType>Picklist</dataType>
        <picklistField>Payment_Frequency__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_PaymentMethod</name>
        <dataType>Picklist</dataType>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxQuoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Quote - &quot; &amp; {!Get_Provider.Name} &amp; &quot; - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>fxStartDateDefault</name>
        <dataType>Date</dataType>
        <expression>{!Get_Original_Insurance.Insurance_End_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Renew — Same Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renew — Same Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Amount__c</field>
            <value>
                <elementReference>Coverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deductible__c</field>
            <value>
                <elementReference>Deductible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Insurance_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>PaymentFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Premium__c</field>
            <value>
                <elementReference>RenewalPremium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Term_months__c</field>
            <value>
                <elementReference>TermMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Original_Insurance__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Insurance</name>
        <label>Get Original Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Original_Insurance</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Original_Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Insurance_Provider__c</queriedFields>
        <queriedFields>Premium__c</queriedFields>
        <queriedFields>Insurance_Term_months__c</queriedFields>
        <queriedFields>Insurance_End_Date__c</queriedFields>
        <queriedFields>Payment_Frequency__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <queriedFields>Business_Personal_Property__c</queriedFields>
        <queriedFields>Deductible__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider</name>
        <label>Get Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Insurance.Insurance_Provider__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Quote_Inputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Renewal_Quote_Inputs</name>
        <label>Renewal Quote — Same Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>ProviderDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Provider (same as current):&lt;/b&gt; {!Get_Provider.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenewalPremium</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Premium__c</elementReference>
            </defaultValue>
            <fieldText>Renewal Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>TermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Insurance_Term_months__c</elementReference>
            </defaultValue>
            <fieldText>Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fxStartDateDefault</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentFrequency</name>
            <choiceReferences>Choice_PaymentFrequency</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Payment_Frequency__c</elementReference>
            </defaultValue>
            <fieldText>Payment Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PaymentMethod</name>
            <choiceReferences>Choice_PaymentMethod</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Payment_Method__c</elementReference>
            </defaultValue>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Coverage</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Business_Personal_Property__c</elementReference>
            </defaultValue>
            <fieldText>Coverage Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Deductible</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Original_Insurance.Deductible__c</elementReference>
            </defaultValue>
            <fieldText>Deductible</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneMessage</name>
            <fieldText>&lt;p&gt;✅ &lt;b&gt;Renewal quote created:&lt;/b&gt; {!fxQuoteName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next: open the Quote, click &lt;b&gt;Start Sync&lt;/b&gt;, then move this Renewal to &lt;b&gt;Closed Won&lt;/b&gt; to create the new policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Original_Insurance</name>
        <label>No Original Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOrigMessage</name>
            <fieldText>&lt;p&gt;⚠️ This Renewal has no linked &lt;b&gt;Original Insurance&lt;/b&gt;, so the provider and policy details can&apos;t be pre-filled. Set the Original Insurance on the Renewal first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
