force-app/main/default/flows/Renewal_After_Save_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Invalid_Data_Error</name>
        <label>Invalid Data Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!fxFriendlyError}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>No_Quote_Error</name>
        <label>No Synced Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Can&apos;t mark this renewal Closed Won yet: there&apos;s no synced quote to build the new policy from. Use Quick New Quote to create a quote and start its sync, then try Closed Won again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>System_Error</name>
        <label>System Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Couldn&apos;t create the renewal policy — a required source record was missing or an unexpected error occurred, so the renewal was kept at its previous stage. Make sure it has an Original Policy and a synced quote, then try Closed Won again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Global TRIGGER_ACTIVATION kill-switch label must be ON.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>Is_TRIGGER_ACTIVATED_ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Yet_Created</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <description>Idempotency guard: only build the policy once per renewal.</description>
        <name>Not_Yet_Created</name>
        <label>Not Yet Created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Already Created</defaultConnectorLabel>
        <rules>
            <name>Not_Yet_Created_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Synced_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Synced_Quote</name>
        <label>Has Synced Quote?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Publish_No_Quote_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quote</defaultConnectorLabel>
        <rules>
            <name>Has_Synced_Quote_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Insurance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Null guard for the Get Original Insurance lookup before building the new policy from it.</description>
        <name>Original_Insurance_Found</name>
        <label>Original Insurance Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_System_Error_Notice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Original_Insurance_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Insurance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Insurance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2026-07-21: After-save on Renewal (Opportunity) Closed Won (RecordType Insurance_Renewal). Builds the new Insurance from the synced Quote, links New_Insurance__c, and publishes a Renewal_Notice__e success event. On no synced quote / missing source record / invalid data, publishes an error notice, logs an Exception__e (durable, survives rollback), then a Custom Error rolls back so Closed Won never commits. Gated by TRIGGER_ACTIVATION. Must remain a synchronous after-save flow — the Custom Error rollback cannot be reproduced in an Orchestration or before-save flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxFriendlyError</name>
        <dataType>String</dataType>
        <expression>&quot;Couldn&apos;t create the renewal policy, so this renewal was kept at its previous stage. This usually means the plan Type/Subtype is an invalid combination — currently Type &apos;&quot; &amp; {!fxInsuranceType} &amp; &quot;&apos; with Subtype &apos;&quot; &amp; {!fxRawSubtype} &amp; &quot;&apos;. Open the quote (or the original policy), set a valid Type/Subtype, then mark the renewal Closed Won again.&quot;</expression>
    </formulas>
    <formulas>
        <name>fxInsuranceSubtype</name>
        <dataType>String</dataType>
        <expression>{!fxRawSubtype}</expression>
    </formulas>
    <formulas>
        <name>fxInsuranceType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Synced_Quote.Type__c})), TEXT({!Get_Original_Insurance.Type__c}), TEXT({!Get_Synced_Quote.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>fxRawSubtype</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Synced_Quote.Subtype__c})), TEXT({!Get_Original_Insurance.Subtype__c}), TEXT({!Get_Synced_Quote.Subtype__c}))</expression>
    </formulas>
    <interviewLabel>Renewal | After Save Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal | After Save Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Insurance</name>
        <label>Create New Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Renewal_with_New_Insurance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Create_Error_Event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Personal_Property__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Coverage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deductible__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Deductible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Insurance_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Start_Date__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Term_months__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Synced_Quote.Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Policy_Holder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Original_Insurance.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subagent__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Subagent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>fxInsuranceSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>fxInsuranceType</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Create_Error_Event</name>
        <label>Publish Create Error Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Invalid_Data</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>fxFriendlyError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Couldn&apos;t create the renewal policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_No_Quote_Event</name>
        <label>Publish No Quote Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_No_Quote</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Can&apos;t mark this renewal Closed Won yet: there&apos;s no synced quote to build the new policy from. Use Quick New Quote to create a quote and start its sync, then try Closed Won again.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>No synced quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Success</name>
        <label>Publish Success Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Link_Id__c</field>
            <value>
                <elementReference>Create_New_Insurance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>A new active policy was created and linked to this renewal.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Renewal policy created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_System_Error_Notice</name>
        <label>Publish System Error Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_System_Error</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Couldn&apos;t create the renewal policy because a required source record was missing or an unexpected error occurred. The renewal was kept at its previous stage. Please try again, and contact your administrator if it keeps failing.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Couldn&apos;t create the renewal policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Insurance</name>
        <label>Get Original Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Insurance_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_System_Error_Notice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Synced_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_System_Error_Notice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_with_New_Insurance</name>
        <label>Update Renewal with New Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Publish_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Create_Error_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Insurance__c</field>
            <value>
                <elementReference>Create_New_Insurance.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType.DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance_Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Invalid_Data</name>
        <label>Log Invalid Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invalid_Data_Error</targetReference>
        </connector>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Renewal Closed Won: failed to create or link the new Insurance policy (often an invalid Type/Subtype combination).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Renewal_After_Save_Record_Triggered_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Create_New_Insurance</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_No_Quote</name>
        <label>Log No Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Quote_Error</targetReference>
        </connector>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Renewal Closed Won attempted with no synced quote to build the policy from.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Renewal_After_Save_Record_Triggered_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Has_Synced_Quote</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_System_Error</name>
        <label>Log System Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>System_Error</targetReference>
        </connector>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Renewal Closed Won: couldn&apos;t load a required source record (synced quote or original policy) to build the new policy.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Renewal_After_Save_Record_Triggered_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Get_Synced_Quote / Get_Original_Insurance</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>A Renewal Notice platform event failed to publish while processing Closed Won on the renewal.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Renewal_After_Save_Record_Triggered_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Publish Renewal Notice</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
