force-app/main/default/flows/Renewal_On_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Invalid_Data_Error</name>
        <label>Invalid Data Error</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <customErrorMessages>
            <errorMessage>{!fxFriendlyError}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>No_Quote_Error</name>
        <label>No Synced Quote</label>
        <locationX>700</locationX>
        <locationY>430</locationY>
        <customErrorMessages>
            <errorMessage>Can&apos;t mark this renewal Closed Won yet: there&apos;s no synced quote to build the new policy from. Use Quick New Quote to create a quote and start its sync, then try Closed Won again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Yet_Created</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Yet_Created</name>
        <label>Not Yet Created?</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Already Created</defaultConnectorLabel>
        <rules>
            <name>Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Synced_Quote</targetReference>
            </connector>
            <label>Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Synced_Quote</name>
        <label>Has Synced Quote?</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Publish_No_Quote_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quote</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Insurance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Record-triggered on Renewal (Opportunity) update to Closed Won: creates the new Insurance from the synced Quote, links it, and publishes a Renewal_Notice__e success event. If the data is invalid (or there is no synced quote), a Custom Error BLOCKS the Closed Won save (rolls back — so the stage never changes and no success toast appears) and shows a plain-language message telling the user what to fix.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxFriendlyError</name>
        <dataType>String</dataType>
        <expression>&quot;Couldn&apos;t create the renewal policy, so this renewal was kept at its previous stage. This usually means the plan Type/Subtype is an invalid combination — currently Type &apos;&quot; &amp; {!fxInsuranceType} &amp; &quot;&apos; with Subtype &apos;&quot; &amp; {!fxRawSubtype} &amp; &quot;&apos;. Open the quote (or the original policy), set a valid Type/Subtype, then mark the renewal Closed Won again.&quot;</expression>
    </formulas>
    <formulas>
        <name>fxInsuranceSubtype</name>
        <dataType>String</dataType>
        <expression>{!fxRawSubtype}</expression>
    </formulas>
    <formulas>
        <name>fxInsuranceType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Synced_Quote.Type__c})), TEXT({!Get_Original_Insurance.Type__c}), TEXT({!Get_Synced_Quote.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>fxRawSubtype</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Synced_Quote.Subtype__c})), TEXT({!Get_Original_Insurance.Subtype__c}), TEXT({!Get_Synced_Quote.Subtype__c}))</expression>
    </formulas>
    <interviewLabel>Renewal On Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal On Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Insurance</name>
        <label>Create New Insurance</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Renewal_with_New_Insurance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Create_Error_Event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Personal_Property__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Coverage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deductible__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Deductible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Insurance_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Start_Date__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Term_months__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Synced_Quote.Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Policy_Holder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Proposed_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Original_Insurance.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subagent__c</field>
            <value>
                <elementReference>Get_Original_Insurance.Subagent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>fxInsuranceSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>fxInsuranceType</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Success</name>
        <label>Publish Success Notice</label>
        <locationX>176</locationX>
        <locationY>800</locationY>
        <inputAssignments>
            <field>Link_Id__c</field>
            <value>
                <elementReference>Create_New_Insurance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>A new active policy was created and linked to this renewal.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Renewal policy created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Create_Error_Event</name>
        <label>Publish Error Notice</label>
        <locationX>446</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Invalid_Data_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>fxFriendlyError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>Couldn&apos;t create the renewal policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_No_Quote_Event</name>
        <label>Publish No Quote Notice</label>
        <locationX>700</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>No_Quote_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Can&apos;t mark this renewal Closed Won yet: there&apos;s no synced quote to build the new policy from. Use Quick New Quote to create a quote and start its sync, then try Closed Won again.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <stringValue>No synced quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variant__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Notice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Insurance</name>
        <label>Get Original Insurance</label>
        <locationX>176</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Synced_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_with_New_Insurance</name>
        <label>Update Renewal with New Insurance</label>
        <locationX>176</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Publish_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Create_Error_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Insurance__c</field>
            <value>
                <elementReference>Create_New_Insurance.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
