force-app/main/default/flows/Renewal_Before_Save_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stamp_Customer_Notified_Date</name>
        <label>Stamp Customer Notified Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Notified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Global TRIGGER_ACTIVATION kill-switch label must be ON.</description>
        <name>Is_TRIGGER_ACTIVATED</name>
        <label>Is TRIGGER ACTIVATED?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>Is_TRIGGER_ACTIVATED_ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.TRIGGER_ACTIVATION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Notified_Not_Stamped</targetReference>
            </connector>
            <label>ON</label>
        </rules>
    </decisions>
    <decisions>
        <description>First time the renewal reaches Customer Notified and the date is still blank.</description>
        <name>Customer_Notified_Not_Stamped</name>
        <label>Customer Notified &amp; Date Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Customer_Notified_Not_Stamped_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Notified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Notified_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Customer_Notified_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2026-07-21: Before-save on Renewal (Opportunity, RecordType Insurance_Renewal) — stamps Customer Notified Date with today the first time the renewal reaches the Customer Notified stage (only when blank). Zero DML, same-record default. Gated by TRIGGER_ACTIVATION. Replaces the Capture_Customer_Notified_Date subflow that ran under Renewal_Record_Triggered_Orchestration.</description>
    <environments>Default</environments>
    <interviewLabel>Renewal | Before Save Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal | Before Save Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TRIGGER_ACTIVATED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType.DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance_Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
