force-app/main/default/flows/Sync_Contact_Subagent_to_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Insurance_To_Update</name>
        <label>Collect Insurance To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Each_Insurance.Subagent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubagentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInsurancesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Insurance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Insurance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only propagate when the Contact actually has a Subagent; a blank Subagent is left as-is on the Insurance (never nulled).</description>
        <name>Has_Subagent</name>
        <label>Has Subagent?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Subagent_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubagentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurances</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Health/Medicare only, and only when the policy&apos;s Subagent differs from the Contact&apos;s (idempotent).</description>
        <name>Should_Update_This_Insurance</name>
        <label>Should Update This Insurance?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Each_Insurance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_Update_This_Insurance_Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Each_Insurance.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health_Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Insurance.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Insurance.Subagent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSubagentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Insurance_To_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2026-07-21: Mirror a Contact&apos;s Subagent (Agent__c) onto its Health/Medicare Insurance policies. Called as a background step by Contact_Record_Triggered_Orchestration when Agent__c changes. Fetches the Contact&apos;s policies (one Get), filters record type + difference in a loop decision (org convention), then one Update. Blank Subagent is never propagated.</description>
    <environments>Default</environments>
    <interviewLabel>Sync Contact Subagent to Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Contact Subagent to Insurance</label>
    <loops>
        <name>Each_Insurance</name>
        <label>Each Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Insurances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_Update_This_Insurance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Insurances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Insurances</name>
        <label>Get Insurances</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Insurance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Holder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Insurances</name>
        <label>Update Insurances</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputReference>varInsurancesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Subagent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to sync Subagent to related Insurance records.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Sync_Contact_Subagent_to_Insurance</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInsurancesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance__c</objectType>
    </variables>
    <variables>
        <name>varSubagentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
