force-app/main/default/flows/Sync_ContactInsuranceAssociation_Dates_from_Group_Health_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Start_and_End_Date</name>
        <label>Assign Start and End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactInsuranceAssociationRecord.Insurance_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Insurance.Insurance_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactInsuranceAssociationRecord.Insurance_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_The_Insurance.Insurance_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_ContactInsuranceAssociation_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_ContactInsuranceAssociation_Valid</name>
        <label>Is ContactInsuranceAssociation Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Linked_to_Insurance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VALID</defaultConnectorLabel>
        <rules>
            <name>INVALID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactInsuranceAssociationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactInsuranceAssociationRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>INVALID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Linked_to_Insurance</name>
        <label>Is Linked to Insurance?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_The_Insurance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactInsuranceAssociationRecord.Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactInsuranceAssociationRecord.Insurance__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactInsuranceAssociationRecord.Insurance__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync ContactInsuranceAssociation Dates from Group Health Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync ContactInsuranceAssociation Dates from Group Health Insurance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_The_Insurance</name>
        <label>Get The Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Start_and_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactInsuranceAssociationRecord.Insurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_ContactInsuranceAssociation_Record</name>
        <label>Update the ContactInsuranceAssociation Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_Error</targetReference>
        </faultConnector>
        <inputReference>varContactInsuranceAssociationRecord</inputReference>
    </recordUpdates>
    <subflows>
        <name>Log_the_Error</name>
        <label>Log the Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Log_Error</flowName>
        <inputAssignments>
            <name>varContext</name>
            <value>
                <stringValue>Failed to sync ContactInsuranceAssociation dates from the Group Health Insurance.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varContactInsuranceAssociationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeverity</name>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceFlow</name>
            <value>
                <stringValue>Sync_ContactInsuranceAssociation_Dates_from_Group_Health_Insurance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceStep</name>
            <value>
                <stringValue>Update_the_ContactInsuranceAssociation_Record</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ContactInsuranceAssociation_Valid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactInsuranceAssociationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactInsuranceAssociation__c</objectType>
    </variables>
</Flow>
